/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/

/*--reset--*/

.holaaa {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}

ol,
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

td {
  width: 40px;
  font-weight: 600;
  font-size: 1em;
  padding-top: 7px;
  height: 24px;
  color: #fff;
}

/*--start editing from here--*/

a {
  text-decoration: none;
}

.txt-rt {
  text-align: right;
}

/* text align right */

.txt-lt {
  text-align: left;
}

/* text align left */

.txt-center {
  text-align: center;
}

/* text align center */

.float-rt {
  float: right;
}

/* float right */

.float-lt {
  float: left;
}

/* float left */

.clearfix {
  clear: both;
}

/* clear float */

.pos-relative {
  position: relative;
}

/* Position Relative */

.pos-absolute {
  position: absolute;
}

/* Position Absolute */

.vertical-base {
  vertical-align: baseline;
}

/* vertical align baseline */

.vertical-top {
  vertical-align: top;
}

/* vertical align top */

/*--end reset--*/

button.w3l-cart {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none;
  outline: none;
}

.clearfix {
  clear: both;
}

/* content */

.mr_agilemain span {
  color: #f00;
}

.w3ls-reg {
  margin: 0 5vw;
  padding: 3.5vw;
}

.mr_agilemain {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.agileits-left {
  flex-basis: 60%;
  margin-bottom: 1.5em;
}

li.smallBox {
  text-align: left;
  display: inline-block;
  margin-right: 1em;
  color: #fff;
}

.agileits-right {
  flex-basis: 40%;
  margin-bottom: 1.5em;
}

.tw {
  width: 50%;
}

label {
  font-size: 1em;
  color: #fff;
}

.prueba {
  font-size: 17px;
  position: relative;
  background-image: -webkit-linear-gradient(0deg, #ff55a5 0%, #ff5860 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ff5860;
  margin-right: 7px;
  opacity: 0.8;
}

.caja {
  background-color: #28282d;
  padding: 18px;
  overflow: hidden;
  max-height: 600px;
  height: 400px;
}
input[type="text"],
input[type="number"] {
  padding: 0.5em;
  width: 80%;
  background: transparent;
  border: 1px solid #888686;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  margin-top: 10px;
  color: #fff;
  border-radius: 6px;
}

.boton {
  right: 0;
  top: 50%;
  margin-top: -22px;
  width: 24px;
  height: 40px;
  opacity: 0.8;
  color: white;
}
.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 80px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-image: -moz-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  background-image: -webkit-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  background-image: -ms-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
  box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
  opacity: 0.85;
  margin-left: 20px;
}
.boton span {
  display: none;
}
.boton i {
  color: #fff;
  font-size: 24px;
}
.boton:hover {
  opacity: 1;
}

.boton2 {
  right: 0;
  top: 50%;
  margin-top: -22px;
  width: 24px;
  height: 40px;
  opacity: 0.8;
  color: white;
}
.boton2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-image: -moz-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  background-image: -webkit-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  background-image: -ms-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
  box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
  opacity: 0.85;
  margin-left: 20px;
}
.boton2 span {
  display: none;
}
.boton2 i {
  color: #fff;
  font-size: 24px;
}
.boton2:hover {
  opacity: 1;
}

ul.seat_w3ls {
  margin: 2em 0;
}

.screen {
  width: 100%;
  background: rgb(248, 210, 194);
  margin: 2em 0;
  border-radius: 10px;
}

h2.wthree {
  padding: 0.8em;
  font-size: 1.2em;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 7px;
  word-spacing: 10px;
}

.smallBox::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
}

.greenBox::before {
  content: "";
  background: Green;
}

.redBox::before {
  content: "";
  background: Red;
}

.emptyBox::before {
  content: "";
  box-shadow: inset 0px 2px 3px 0px rgb(255, 152, 0),
    0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 0px 2px 3px 0px rgb(255, 152, 0),
    0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0px 2px 3px 0px rgb(255, 152, 0),
    0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  background-color: #fff;
}

.seats {
  border: 1px solid red;
  background: yellow;
}

.seatGap {
  width: 40px;
}

.seatVGap {
  height: 40px;
}

table {
  text-align: center;
}

.Displaytable {
  text-align: center;  
}

.Displaytable td,
.Displaytable th {
  width: 100%;
  padding: 7px 10px;
  color: #000;
  font-weight: 600;
}

table.Displaytable tr {
  background: rgb(255, 229, 218);
  color: #fff;  
  
}

textarea {
  border: none;
  background: transparent;
  resize: none;

}

input[type="checkbox"] {
  width: 13px;
  margin-right: 14px;
  cursor: pointer;
}

input[type="checkbox"]:before {
  content: "";
  width: 25px;
  height: 18px;
  border-radius: 5px;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 5px;
  /* Firefox 1-3.6 */
  -moz-border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: 3px solid #ff9800;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
    0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
    0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
    0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  background-color: #ffffff;
}

input[type="checkbox"].pruebaaa:before {
  content: "";
  width: 25px;
  height: 18px;
  border-radius: 5px;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 5px;
  /* Firefox 1-3.6 */
  -moz-border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: 3px solid darkcyan;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
    0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
    0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
    0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  background-color: #ffffff;
}

input[type="checkbox"]:checked:before {
  background-color: Green;
  font-size: 15px;
}

.copy-wthree p {
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 1.7;
  padding: 0 1em;
}

.copy-wthree p a {
  color: #fff;
}

.copy-wthree {
  margin: 3em 0em;
  text-align: center;
}

.displayerBoxes {
  margin-top: 2em;
}

/*--responsive--*/

@media (max-width: 1920px) {
  h1 {
    font-size: 3.5vw;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 4.5vw;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 5vw;
  }
}

@media (max-width: 667px) {
  h2.wthree {
    padding: 0.7em;
    font-size: 1em;
  }
}

@media (max-width: 600px) {
  .w3ls-reg {
    width: 500px;
  }
}

@media (max-width: 568px) {
  .mr_agilemain {
    display: block;
  }
  input[type="text"],
  input[type="number"] {
    padding: 10px 15px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .w3ls-reg {
    width: 450px;
  }
  h1 {
    font-size: 2.5em;
  }
  .w3ls-login form {
    padding: 7.5vw;
  }
}

@media (max-width: 440px) {
  h1 {
    font-size: 2.3em;
  }
}

@media (max-width: 414px) {
  h1 {
    font-size: 2em;
  }
  .w3ls-reg {
    width: 370px;
  }
  input[type="text"],
  input[type="number"] {
    width: 92%;
  }
  li.smallBox {
    margin: 1em 0 0;
    display: block;
  }
}

@media (max-width: 384px) {
  h1 {
    font-size: 1.9em;
  }
  .w3ls-reg {
    width: 350px;
  }
  h2.wthree {
    padding: 0.5em;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 1.5em;
  }
  .w3ls-reg {
    width: 280px;
  }
  input[type="text"],
  input[type="number"] {
    width: 88%;
  }
  h2.wthree {
    font-size: 0.95em;
    letter-spacing: 5px;
  }
  .copy-wthree p {
    padding: 0 0.5em;
  }
}

/*--//responsive--*/
